.clearfix {
  @include clearfix;
}

.el-button + span {
  margin-left: 10px;
}

@font-face{
  font-family: 'Poppins'; 
  src: url('../assets/fonts/Poppins.ttf');
}

#app {
  font-family: 'Poppins', 'Avenir', Helvetica, Arial, sans-serif;
}